.example-form-field {
  display: block;
}

/* Estilo para el formulario */
form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

/* Estilo para las preguntas */
ol li {
  margin-bottom: 20px;
}

/* Estilo para los radios y checkboxes */
input[type="radio"],
input[type="checkbox"] {
  margin-right: 5px;
}

/* Estilo para los labels de radios y checkboxes */
label {
  display: inline;
  margin-right: 10px;
}

/* Estilo para las áreas de texto */
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin-right: 10px; /* Agrega espacio a la derecha del textarea */
}

/* Estilo para el botón de envío */
.submit-button-container {
  text-align: center;
  margin-top: 20px;
}

/* Estilo para el botón */
button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Estilo para el botón al pasar el ratón */
button:hover {
  background-color: #0056b3;
}