<div class="bg-header"></div>

<div class="user-info">
  <img src="assets/chemi.png" alt="" />
  <div class="datosPersonales">
    <p class="name">Chemi SL</p>
    <p>chemi@gmail.com</p>
  </div>
</div>

<div class="content">
  <div>
    <button mat-flat-button color="primary" (click)="pay()">
      Añadir fondos a la bolsa
    </button>
  </div>

  <div>
    <div class="contribucion">
      <h3>Tu contribución</h3>
      <p class="valueMoney">
        {{ accountService.invertido | number : "1.2-2" }} €
      </p>
      <p>
        ({{
          (accountService.invertido / (158879 + accountService.invertido)) * 100
            | number : "1.0-0"
        }}%) 🎉
      </p>

      <button mat-button color="accent">Compartir</button>
    </div>

    <div class="bolsaTotal">
      <h3>Valor total del fondo monetario</h3>
      <p>{{ 158879 + accountService.invertido | number : "1.2-2" }}€</p>
      <p style="font-size: 0.7e">
        Se repartirán en 8 días entre los estudiantes.
      </p>
    </div>
    <table>
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Valor Total</th>
          <th>Contribución</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dato of datos">
          <td>{{ dato.fecha }}</td>
          <td>{{ dato.valor }}</td>
          <td>{{ dato.contribucion }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
