/* Estilo para el contenedor principal */
.content div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

/* Estilo para Valor total del fondo monetario */
.bolsaTotal {
  font-size: 24px;
  margin-bottom: 10px;
  margin-bottom: 20px;
}

/* Estilo para la cantidad de dinero del fondo monetario */
.bolsaTotal p {
  font-size: 32px;
}

/* Estilo para Tu contribución */
.contribucion {
  margin: auto -50px;
  border-radius: 8px;
  padding-bottom: 0;
  margin-top: 20px;
  width: 100%;
    background-color: #1f1f1f;
      background: linear-gradient(112.1deg,
          rgb(43, 49, 70) 11.4%,
          rgb(63, 76, 119) 70.2%);
  color: white; /* Color del texto */
  margin-bottom: 50px;

  .submit-button-container{
    margin-bottom: -20px;
    margin-top: -20px;
  }
}

/* Estilo para la cantidad de dinero de Tu contribución */
.contribucion .valueMoney {
  font-size: 24px;
  font-size: 3em;
}

/* Estilo para la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

/* Estilo para las celdas de encabezado */
th {
  background-color: #333;
  color: white;
  padding: 10px;
}

/* Estilo para las celdas de datos */
td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

/* Estilo para las filas pares (para resaltar alternancia de filas) */
tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Estilo para las filas impares */
tr:nth-child(odd) {
  background-color: #e6e6e6;
}

.bg-header {
  height: 100px;
  width: calc(100% + 40px);
  display: inline-block;
  background-color: purple;
  margin: -20px;
}

.user-info {
  max-width: 200px;
  width: 100%;
  margin-top: -50px;
  display: flex;
  align-items: center;
  gap: 30px;

  img {
    border-radius: 10000px;
    width: 100%;
  }

  .datosPersonales {
    margin-top: 40px;
  }

  .name {
    font-size: 2em;
    line-height: 1em;
  }

  button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}
