<div class="root">
  <div class="bolsaDinero">
    <h2 class="big">
      <ngx-animated-counter [params]="bolsaDineroParams"></ngx-animated-counter
      >€
    </h2>
    <div>- RECAUDADO -</div>
  </div>

  <div class="grid">
    <div class="estudiantesAyudados">
      <h2>1680 💼</h2>
      <p>empleaos creados</p>
    </div>

    <div class="creacionEmpleo">
      <h2>283 👩‍🎓</h2>
      <p>estudiantes ayudados</p>
    </div>

    <div class="facturacion">
      <h2>200.000€ 💸</h2>
      <p>facturacion</p>
    </div>

    <div class="contribuscionImpuestos">
      <h2>60.000€ 💰</h2>
      <p>Contribución impuestos</p>
    </div>
  </div>

  <div class="diasReparto">
    <h2>
      <ngx-animated-counter [params]="diasParams"></ngx-animated-counter>
      días
    </h2>
    <p>para el próximo reparto</p>
  </div>
</div>
